# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\FreeItJava8.25.03.21\FreeIt-Java1.8.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
